body {
  margin: 0;
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

canvas {
  image-rendering: pixelated;
  border: 2px solid #444;
  margin-top: 10px;
}

.controls {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-gap: 8px;
  justify-content: center;
}

.controls button {
  height: 50px;
  font-size: 18px;
  background: #333;
  color: white;
  border: 1px solid #666;
  border-radius: 6px;
}
