/* Prevent text selection & copy on mobile controls */
#up, #down, #left, #right, #btnA {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  touch-action: none;
}
